button, .dep-block{
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: #3ba77b;
}

ul {
  list-style: none;
}

.dep-block {
  width: 150px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  line-height: 50px;
  color: black;
  text-decoration-line: none;
  border-width: 2px;
  border-style: outset;
  border-color: rgb(118, 118, 118);
}

